API_PROJECT_NAME=auth-service
API_HOST=0.0.0.0
API_CONTAINER_NAME=auth
API_PORT=8000
OAUTH_SESSION_SECRET_KEY=secret_key
OAUTH_GOOGLE_CLIENT_ID=secret_key
OAUTH_GOOGLE_CLIENT_SECRET=secret_key
OAUTH_GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
OAUTH_GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
OAUTH_GOOGLE_REDIRECT_URI=http://localhost:82/api/v1/oauth/callback/google
OAUTH_GOOGLE_SERVER_METADATA_URL=https://accounts.google.com/.well-known/openid-configuration
TRACING_CONTAINER_NAME=auth-jaeger
TRACING_PORT=4318
YANDEX_CLIENT_ID=id
YANDEX_CLIENT_SECRET=secret