KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=kafka-node-0:9092,kafka-node-1:9092,kafka-node-2:9092
KAFKA_CLUSTERS_0_NAME=kraft
AUTH_TYPE=LOGIN_FORM
SPRING_SECURITY_USER_NAME=admin
SPRING_SECURITY_USER_PASSWORD=pass