ETL_INDEX="movies"
ETL_INDEX_SCHEMA_FILEPATH="movies_schema.json"
ETL_LIMIT=2
ETL_MIN_TIMESTAMTZ="2020-01-01 00:00:00.000 +0200"
ETL_SLEEP_INTERVAL_SEC=60
ETL_TIMESTAMPTZ_FORMAT="%Y-%m-%d %H:%M:%S.%f %z"
ETL_TIMEZONE_HOURS=2
