KAFKA_BOOTSTRAP_SERVERS=kafka-node-0:9092,kafka-node-1:9092,kafka-node-2:9092
KAFKA_CONNECTION_MAX_RETRIES=5
KAFKA_TOPICS=filter,video_quality,video_stop

ETL_LOG_LEVEL=10
ETL_SLEEP_INTERVAL_SEC=60
ETL_STATE_STORAGE_FILE=/etl/data/state_storage.json